# Gale_Shapley

In [1]:
import numpy as np
import pandas as pd

In [7]:
man=np.array([['111','222','333','555','444'],              
              ['111','333','222','444','555'],
              ['555','111','333','222','444'],
              ['333','222','444','111','555'],
              ['333','111','222','444','555'],                                                                                
              ])

a=['AAA','BBB','CCC','DDD','EEE']
pdman=pd.DataFrame(man,index=a)

pdman

       0    1    2    3    4
AAA  111  222  333  555  444
BBB  111  333  222  444  555
CCC  555  111  333  222  444
DDD  333  222  444  111  555
EEE  333  111  222  444  555

In [8]:
woman=np.array([['EEE','AAA','BBB','DDD','CCC'],
               ['DDD','BBB','CCC','AAA','EEE'],
               ['DDD','CCC','BBB','EEE','AAA'],
               ['AAA','BBB','DDD','CCC','EEE'],
               ['CCC','DDD','EEE','BBB','AAA'],                                                                             
               ])    


b=['111','222','333','444','555']
pdwoman=pd.DataFrame(woman,index=b)

pdwoman

       0    1    2    3    4
111  EEE  AAA  BBB  DDD  CCC
222  DDD  BBB  CCC  AAA  EEE
333  DDD  CCC  BBB  EEE  AAA
444  AAA  BBB  DDD  CCC  EEE
555  CCC  DDD  EEE  BBB  AAA

In [10]:
def perfect_match(a,pdman,pdwoman):
    sd=pd.Series()
    while len(a)>0:


        sset=sd.index
        pp=pdman.loc[a[0]] 
        for i in list(pp):
            if i in sset:

                mmm=sd[i]
                po=pdwoman.loc[i]
                kl= list(po)
                p=kl.index(mmm)
                q=kl.index(a[0])
                if p<q:
                    continue
                else:
                    sd[i]=a[0]
                    #sd.drop(k)
                    a.remove(a[0])
                    a.append(mmm)
                    break
            else:
                sd[i]=a[0]
                a.remove(a[0])
                break
    return sd

In [11]:
match=perfect_match(a,pdman,pdwoman)
match

111    EEE
333    DDD
555    CCC
222    BBB
444    AAA
dtype: object